/*---Fonts---*/
@font-face
{
    font-family: Muli;
    src: url('fonts/Muli.ttf');
}

@font-face
{
    font-family: Muli;
    src: url('fonts/Muli-Bold.ttf');
    font-weight: bold;
}

@font-face
{
    font-family: Muli;
    src: url('fonts/Muli-Light.ttf');
    font-weight: 200;
}

@font-face
{
    font-family: "Montserrat";
    src: url('fonts/Montserrat-Regular.ttf');
}

@font-face
{
    font-family: "Montserrat Bold";
    src: url('fonts/Montserrat-Bold.ttf');
    font-weight: bold;
}

@font-face
{
    font-family: "Montserrat Light";
    src: url('fonts/Montserrat-Light.ttf');
    font-weight: bold;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: "Montserrat";
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.parent {
  width:100;
  height: 100vh;
  background-color: #242D5C;
  display: table-cell; /* comportement visuel de cellule */
  vertical-align: middle;
  text-decoration: none;
}

#div0 #btn-site{
	margin-bottom: 50px;
}

#div0 #btn-site a{
	font-size: 15px;
	border: 1px solid white;
	padding: 10px;
	text-decoration: none;
	color: white;
	font-family: "Montserrat Light";
}

#div0 #btn-site img{
	width: 15px;
	height: auto;
	margin-left: 10px;
}

#div0 #logo img{
	margin-top: 20px;
	height: 70px;
	width: auto;
	/*margin-right: 10px;*/
}

#div0 #logo{
	font-size: 50px;
	color: white;
	margin-bottom: 100px;
}

#div0 #scroll img{
	width: 70px;
	height: auto;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

#div0 h3{
	color: white;
	font-family: "Montserrat Light";
	font-size: 25px;
	line-height: 30px;
	text-align: center;
}

.parent2 {
  width: 100%;
  height: 100vh;
  background-color: #dc6e6d;
  vertical-align: middle;
  text-decoration: none;
}

#div1 #menu{
	color: white;
	font-family: "Montserrat Light";
	font-size: 16px;
	text-align: center;
	line-height: 20px;
	padding-top: 100px;
	margin-bottom: 100px;
}

#div1 span{
	margin-right: 50px;
}

#div1 h3{
	color: white;
	columns: 2;
	font-family: "Montserrat Light";
	font-size: 16px;
	text-align: justify;
	line-height: 20px;
}

#div1 p{
	color: white;
	font-family: "Montserrat Light";
	font-size: 18px;
	text-align: right;
	line-height: 20px;
}

#div1 p strong{
	font-weight: bold;
}

#div1 #text-menu4 img{
	margin-top: 50px;
	height: 50px;
}

.parent3 {
  width: 100%;
  height: 100vh;
  background-color: white;
  vertical-align: middle;
  text-decoration: none;
  padding: 30px;
}

#title{
	padding: 30px;
}

#div2 #title h3{
    font-size: 1.17em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 600;
    color:#dc6e6d;
}

#titleParent3{
	text-align: center;
	color:#dc6e6d;
	font-family: "Montserrat Light";
	font-size: 25px;
	line-height: 30px;
	text-align: center;
	font-weight: 600;
	margin: 20px;
}
