/*****************************************************/
/************** AVENIR NEXT LT PRO *******************/
/*****************************************************/

@font-face {
	font-family: 'Avenir Next LT Pro';
	font-style: normal;
	font-weight: normal;
	src: local('Avenir Next LT Pro Regular'), url('font/avenir/AvenirNextLTPro-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Avenir Next LT Pro';
	font-style: italic;
	font-weight: normal;
	src: local('Avenir Next LT Pro Italic'), url('font/avenir/AvenirNextLTPro-It.woff') format('woff');
}

@font-face {
	font-family: 'Avenir Next LT Pro';
	font-style: normal;
	font-weight: 500;
	src: local('Avenir Next LT Pro Demi'), url('font/avenir/AvenirNextLTPro-Demi.woff') format('woff');
}

@font-face {
	font-family: 'Avenir Next LT Pro';
	font-style: italic;
	font-weight: 500;
	src: local('Avenir Next LT Pro Demi Italic'), url('font/avenir/AvenirNextLTPro-DemiIt.woff') format('woff');
}

@font-face {
	font-family: 'Avenir Next LT Pro';
	font-style: normal;
	font-weight: bold;
	src: local('Avenir Next LT Pro Bold'), url('font/avenir/AvenirNextLTPro-Bold.woff') format('woff');
}

/*****************************************************/
/************** GARAMOND PREMIER PRO *****************/
/*****************************************************/


@font-face {
    font-family: 'Garamond Premier Pro';
    src: url('font/Garamond/regular/garamond_premier_pro_regular.eot');
    src: url('font/Garamond/regular/garamond_premier_pro_regular.eot?#iefix') format('embedded-opentype'),
         url('font/Garamond/regular/garamond_premier_pro_regular.woff2') format('woff2'),
         url('font/Garamond/regular/garamond_premier_pro_regular.woff') format('woff'),
         url('font/Garamond/regular/garamond_premier_pro_regular.ttf') format('truetype'),
         url('font/Garamond/regular/garamond_premier_pro_regular.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Garamond Premier Pro';
    src: url('font/Garamond/bold/garamond_premier_pro_bold.eot');
    src: url('font/Garamond/bold/garamond_premier_pro_bold.eot?#iefix') format('embedded-opentype'),
         url('font/Garamond/bold/garamond_premier_pro_bold.woff2') format('woff2'),
         url('font/Garamond/bold/garamond_premier_pro_bold.woff') format('woff'),
         url('font/Garamond/bold/garamond_premier_pro_bold.ttf') format('truetype'),
         url('font/Garamond/bold/garamond_premier_pro_bold.svg#webfontregular') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Garamond Premier Pro';
    src: url('font/Garamond/italic/garamond_premier_pro_italic.eot');
    src: url('font/Garamond/italic/garamond_premier_pro_italic.eot?#iefix') format('embedded-opentype'),
         url('font/Garamond/italic/garamond_premier_pro_italic.woff2') format('woff2'),
         url('font/Garamond/italic/garamond_premier_pro_italic.woff') format('woff'),
         url('font/Garamond/italic/garamond_premier_pro_italic.ttf') format('truetype'),
         url('font/Garamond/italic/garamond_premier_pro_italic.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: italic;
}