@charset "UTF-8";

img{width:100%;}
.page{max-width:1350px;margin:0 auto;padding:0 48px;}
.projects{margin:0 -1.85%;padding:0 24px;}
.projects p{line-height:25px;}

/***************************/

section a{border-bottom:none;}
section a:hover{background-color:transparent;}

/***************************/

@media only screen and (max-width: 960px){
	.page{padding:0 28px;}
}

@media only screen and (max-width: 650px){
	.projects{margin:0;padding:0;}
	.page{padding:0 24px;}
}