@import "font.css";
@import "responsiveslides.css";

.todo{color:#FF5300;}

::selection {background-color:#EEE;color:#FF5300;}

*{margin:0;padding:0;color:#000;list-style:none;font-weight: normal !important;}
body{
	background-color:#efefef;
	font-family:"Avenir Next LT Pro";
	font-size: 20px;
	line-height: 24px;
}
a{text-decoration: none;}

/* header
--------------------------------------------------*/
header {
	height: 55px;
	width: 100%;
	background: rgba(255,255,255,0.8);
	position: fixed;
	top:0;
	left:0;
	z-index: 10;
	overflow: hidden;
}
header h1 {
	font-size: 25px;
	text-align: center;
	line-height: 20px;
	width: 100%;
	position: absolute;
	top: 18px;
	left: 0;
}
header nav {
	position: absolute;
	line-height: 22px;
	left: 15px;
	top:16px;
}
header nav a:hover {color:#EEE;}

/* #content global
--------------------------------------------------*/

section{max-width:800px;margin:0 auto;padding:120px 15px;}

h2, h3, h4, h5{
	padding: 10px 0;
}

section h6{font-size:12px;line-height:20px;font-weight:500 !important;}
section h2{
	font-weight:bold !important;
	font-size:40px;
}
section h3{
	font-size:30px;
	color:#999;
	padding-bottom:20px;
	line-height:35px;
}
article h3:first-child;{padding-top:0px;}
article h3{padding-top:40px;}

section p {
	font-family:"Times New Roman","Times";
	font-weight: 300;
	line-height: 35px;
	text-indent: 40px;

	padding-bottom:20px
	
	word-wrap: break-word;
	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
		-ms-hyphens: auto;
		 -o-hyphens: auto;
		 	hyphens: auto;
}
.none_indent {text-indent: 0px;}
strong{font-weight:bold !important;}

section a{border-bottom: 1px solid #000;}
section a:hover{background-color:#FF0;}

section figure{padding:40px;}
section figure img{margin-top:40px;}
section figure img:first-child{margin-top:0px;}
section figcaption{
	font-family:"Avenir Next LT Pro";
	font-weight:lighter;
	text-align:center;
	color:#999;
	font-size: 16px !important;
	line-height: 22px !important;
	margin-top: 15px;
}
section figcaption i,section figcaption em{font-family:"Avenir Next LT Pro";text-style:italic;color:#999;}
section figcaption a{color:#999;border-bottom: 1px solid #999;}

em,i{font-family:"Garamond Premier Pro";font-style:italic;}

blockquote{
	margin:30px 30px 30px 0px;
	padding-left: 30px;
	border-left:4px solid #111;
	line-height:30px;
}

article p{font-family:"Garamond Premier Pro";text-indent:0px;}
li{padding-bottom:10px;font-family:"Garamond Premier Pro";line-height:35px;}

footer p{color:#AAA;text-align:center;padding-bottom:30px;font-size:17px;}

@media screen and (max-width: 768px) {
	header {height: 45px;}
	header h1 {
		top: 15px;
		font-size: 15px;
	}
	header nav {
		top:13px;
		font-size: 13px;
	}
	
	section{padding:80px 20px;}
	
	section h2{font-size:30px;line-height:25px;}
	section h3{font-size:20px;line-height:25px;padding-bottom:10px;}
	section h6{font-size:10px;}
	section p {font-size:15px;line-height:25px;padding-bottom:15px;}	
	
	section figure{padding:20px 10px;}
	section figcaption{padding-top: 10px;font-size:12px !important;}
	section li{padding-bottom:0px;font-size:15px !important;}
	
	footer p{font-size:15px;}
}

@media print {
	header,footer,.callbacks_nav{
    	display:none;
	}
	body{
    	background:#FFF !important;
	}
  
	img,section,p,h3{
  		margin:0 !important;
		padding:0 !important;
  	}
	
	section{width:80%;margin:0 auto !important;}
 
	h2{
		line-height :15pt !important;
		font-size :20pt !important;
	}
	
	h3{
		line-height :15pt !important;
		font-size :15pt !important;
		margin-bottom:20px !important;
	}
	 
	h4{
		line-height :13pt !important;
		font-size :13pt !important;
		margin-bottom:10px !important;
	}
	  
	 p,li,a{
		 line-height :15pt !important;
		 font-size :10pt !important;
	 }
	 
	 section figcaption{
	 	font-size: 9px !important;
	 	line-height: 10px !important;
	 	margin-top: 7px;
	 }
}

/* make images and movies fluid
--------------------------------------------------*/

img {
	/*vertical-align: middle;*/
	image-rendering: optimizeQuality;
	-ms-interpolation-mode: bicubic;
	height: auto !important;
    width: 100%;
    max-width: 100%;
	background-color:#DDD;
}
.png{background-color:transparent;}
	
.embed-container {
	position: relative;
	padding-bottom: 50%;
	/*height: 0;*/
	overflow: hidden;
	max-width: 100%;
	height: auto;
	background-color:#DDD;
}

.embed-container iframe{ 
	position: absolute;
	top: 0;
	left: 0; 
	width: 100%; 
	height: 100%; 
}




